.categories h3{
    color: #333333;
    position: relative;
    transition: transform 0.3s ease-in;
    cursor: pointer;
    
}
.categories h3:hover{
    color: black;
}
.categories h3:hover::before {
   width: 30px;
   
}
.categories h3::before{
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0px;
    height: 3px;
    transition: width 0.3s ease-in;
    width: 0px;
    background-color: blue;
}
