/* @media (min-width: 1250px) {
    .carousel{
      height: 550px !important;
      width: 350px !important;
    }
  } */
.scroll::-webkit-scrollbar{
    width:20px;

}
body::-webkit-scrollbar-thumb {
    background-color: blue;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid orange;  /* creates padding around scroll thumb */
  }